<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Pick Me UP! </title>
</head>
<body><table>

        <tr>*************Here's message from PICK ME UP*************</tr>
        <br>
        <br>
        <tr>Dear {{ driver }}: </tr>
        <br>
        <br>
        <tr>    {{ user }} needs to go {{ location }} and wants you pick her/him up at {{ station }} on {{ time }}.</tr>
        <br>
        <tr>    {{ user }} said: {{ words }}</tr>
        <br>
        <tr>    Here's {{ user }}'s email: {{ email }}.</tr>
        <br>
        <br>
        <tr> Best wishes</tr>
        <br>
        <tr> from PICK ME UP team</tr>

</table>


</body>
</html>