{% extends 'music/base.html' %}
{% block body %}
    <ul xmlns:opacity="http://www.w3.org/1999/xhtml">
    {% if object_list %}
        <h3>Here are all mines:</h3>
        <div class = "row">
            {% for album in object_list %}
                {% if album.driver.id == request.user.id %}
                   <ul xmlns:opacity="http://www.w3.org/1999/xhtml">
             <div class="col-xm-12  col-sm-6 col-md-4 col-lg-3 col-center-block" style=" background-color: rgba(0,0,0,0.5);color: silver"  >
                   <div class="thumbnail col-center-block" style="background-color: rgba(0,0,0,0.5);color: silver;height: auto">
{#                    {% for album in user.is_authenticated %}#}
                       <div  style="height: 200px">
                           <!--album logo-->
                           <a href="{% url 'music:detail' album.id %}">
       {#                         {{ album.album_title }}#}
                                  <img src = "{{ album.photo.url }}" class = "img-responsive" style="max-height: 100%;max-width:100%">
                           </a>
                       </div>

                       <div class="caption" style="color: silver">
                           <table>
                               <tr><h2>{{ album.location }}</h2></tr>
                               <tr><h1><small>{{ album.path }}</small></h1></tr>
                               <tr><h4>{{ album.driver }}</h4></tr>
                           </table>

                            <!-- Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm">Path Details</a>
                       {% if request.user.id == album.driver.id %}
                             <a href="{% url 'music:album-update' album.id %}">
                                 <button class="btn-default" type="hidden" name="album_id" value="{{ album.id }}">
                                   <span class="glyphicon glyphicon-cog" style="color: darkblue"></span>
                                 </button>
                             </a>

                            <!-- Delete -->
                            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}"/>
                                <button class="btn-default" type="hidden" name="album_id" value="{{ album.id }}"/>
                                   <span class="glyphicon glyphicon-trash" style="color: black"></span>
                                </button>
                            </form>
                           {% endif %}

{#                             <!--Favoirite -->#}
{#                              <a href="#" class="btn btn-default btn-sm btn-favourite">#}
{#                                  <span class="glyphicon glyphicon-star{% if album.is_favorite %}active{% endif %}"></span>#}
{#                              </a>#}

                            <!--edit-->
                       </div>
                   </div>
               </div>
               </ul>
                    {% endif %}
            {% endfor %}

        </div>

    {% else %}
        <h3>You don't have any albums.</h3>
    {% endif %}

    </ul>
{% endblock %}