
body {
    background: space url("images/background.jpg");
    background-repeat:repeat;
    background-size:100%;
}

.navbar{
    border-radius:0;
}

.navbar-brand{
    font-family: 'Satisfy',cursive;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}